name: "L2 - Push"

on:
  push:
    branches:
      - main
      - develop
      - "feature/**"
      - "hotfix/**"

jobs:
  call-l2:
    uses: haimazulay/github-k8s-cicd-templates/.github/workflows/l2-push-validate-and-build.yml@main
    with:
      registry: ghcr
      image_name: "${SERVICE_NAME}"
      dockerfile_path: "./Dockerfile"
    secrets: inherit